// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.product-link {
  color: black;
}

.product-link:hover {
  background-color: #f6f6f6
}
